<% i = 0 + @offset; @posts.each do | post | %>
  <% image_path = get_smile_image_path(post) %>
  <% next unless image_path %> <!-- Пропускаем смайлы без изображений -->
  <% if i % 5 == 0; big = 'big'; else; big = ''; end; %>
  <div class="post-item <%=big%>"><div class="wrapper hvr-grow">
    <%#<h2></h2>%>
    <hr />
    <p>
      <a href="/smiles/<%=post.id%>/"><img class="show-smile" type="button" src="<%=image_path%>" /></a>
      <% end %>
    </p>
    <p >
      <a class="btn rm" href="/smiles/<%=post.id%>/">Подробнее</a>
    </p>
  </div></div>
<% i = i + 1; end; %>

<% if @lastget %><style>.get-more{display:none}</style><% end %>
